/* Write your CSS here! */

/* 
element selector - changes all elements
p {
    color: pink;
}

class selector - changes selected element with class="
.pink-paragraph{
    color: pink;
}

id selector - used once to change individual element
#pinkParagraph {
    color: pink;
}
*/

.image1 {
    align-content: end;
}

body {
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
    text-align: center;
}

head {
    margin: 25%;
    text-align: center;
    background-color: rgb(23, 53, 63);
}

footer{
    background-color: rgb(23, 53, 63);
    text-align: right;
    color: gray;
}
h1 {
    text-align: center;
}